.propos-header {
    background: linear-gradient(rgba(74, 45, 127, 0.8), rgba(74, 45, 127, 0.59)),url(../images/Slider.png);
}
.header-bg {
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

#content {
	padding-top: 50px; 
}

.btn-first {
	background-color: #80808000;
	border-color: #4f2f8d;
	border-radius: 28px;
	color: #4f2f8d;
	text-transform: uppercase;
	font-weight: bolder;
}

.second-top {
	margin-top: 50px;
}

.container {
	color: gray;
}

#btn-center {
	text-align: center !important;
}

.btn-first:hover
{
	color: #fff !important;
	background-color: #4f2f8d !important;
	border-color: #4f2f8d !important;
}

.bg-white {
	/*background-color: white;*/
	background-image: url(../images/Background-pattern.png);
}

.bg-gray {
	background-color: #f3f2f5 !important;
}

.bg-white .col-3 {
	border: 2px solid #43424212;
    border-top: 0;
    border-radius: 7px;
    padding-top: 42px;
    padding-bottom: 42px;
    margin-right: 20px;
    box-shadow: 1px 3px 4px #00000040;
}

h1.title { 	font-size: 35px; 	color: #a29da9; }
h1.title-c { 	color: #4f2f8d; }

.block-certas {
	height: 224px;
	display: table;
}

.block-tcell {
	display: table-cell !important;
	vertical-align: middle !important;
}

.img-section6 {
	width: 35%;
}



.bg-white .list-article {
	border: 2px solid #43424212;
    border-top: 0;
    border-radius: 7px;
    padding-top: 42px;
    padding-bottom: 42px;
    margin-right: 20px;
    box-shadow: none;
}

.post-image-bg a {
	display: flex !important;
	height: 280px !important;
}
.post-image-bg a>img {
	width: 100% !important;
}

.recentpost-categories, .readmorebtn {
	display: none !important;
}

.wp-post-title a {
	color: #4f2f8d !important;
	text-transform: uppercase;
	font-weight: bold;
}

.wp-sub-content {
	color: #a29da9;
}
.wp-post-date {
	color: #02b5ca;
	font-weight: bold;
	font-size: 18px !important;
}

.title-sc {
	font-size: 25px;
}

.nt-reseau {
	background-image: url(../images/forme-background-picto.svg);
	width: 70px;
}

.nr-reseau {
	width: 54px;
	padding-bottom: 14px;
}
.slick-list.draggable {
	/*margin: 0 65px !important;*/
}

#recent-post-carousel-1.recent-post-carousel button.slick-prev{
	background: url(../images/_icons/arrow.svg) center center no-repeat !important;
	background-size: 25px 25px !important;
	outline: none !important;
	box-shadow: none;
	color: #000;
	transform: rotateY(180deg) !important;
}

#recent-post-carousel-1.recent-post-carousel button.slick-next{
	background: url(../images/_icons/arrow.svg) center center no-repeat !important;
	background-size: 25px 25px !important;
	outline: none !important;
	box-shadow: none;
	color: #000;
}

form input:focus {
	border-color: #4f2f8d !important;
}

form input:not([type="submit"]) {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0 !important;
	padding-left: 0 !important;
}

input#nom, input#prenom, input#email, input#phone, #label_message, #message{
	font-size: 15px;
}

#label_message {
	display: contents;
}

#message {
	width: 100%;
}

label>a {
	text-decoration: underline;;
}

._apropos_video 
{
	/*margin-top: 180px !important;
    margin-bottom: 180px !important;*/
    margin: auto;
}

._apropos_second 
{
	/*margin-top: 96px !important;
    margin-bottom: 96px !important;*/
    margin: auto;
}

._comment {
	color: #4f2f8d;
	text-transform: uppercase;
	font-size: 2.5rem;
}

.img_club {
	width: 100%;
	/*height: 100%;*/
}

.pl_club {
	/*padding-left: 40px;*/
	margin: auto;
}

.img_promos {
	width: 100%;
}

.t_promos {
	color: #4f2f8d;
	text-transform: uppercase;
}

.img_produits {
	width: 100%;
}

/*.nombre {
  background-color: #4f2f8d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}*/

.nombre {
	/*border-radius: 190px 190px 190px 190px;
	-moz-border-radius: 190px 190px 190px 190px;
	-webkit-border-radius: 190px 190px 190px 190px;
	border: 0px solid #000000;*/
  	background-color: #4f2f8d;
  	color: white;
	display: inline-block;
    border-radius: 70%;
    width: 42px;
    height: 42px;
    text-align: center;
    font-size: 22px;
}

.nombre p {
    margin: 0;
}

span a {
	color: #4f2f8d;
}

.t_marche {
	font-size: 32px;
}


#map {
  width: 100%;
  height: 100%;
  z-index:100;
}
#mapSearchContainer{
  position:fixed;
  top:20px;
  right: 40px;
  height:30px;
  width:180px;
  z-index:110;
  font-size:10pt;
  color:#5d5d5d;
  border:solid 1px #bbb;
  background-color:#f8f8f8;
}
.pointer{
  position:absolute;
  top:86px;
  left:60px;
  z-index:99999;
}


.input-group.md-form.form-sm.form-1 input{
	border: 1px solid #bdbdbd;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
	border: 1px solid #bdbdbd;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
	border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
	border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
	border: 1px solid #ffca28;
}

._apropos_second iframe{
	height: 550px;
	border-radius: 10px;
}
._apropos_video iframe{
	height: 680px;
    border-radius: 10px;
}
.p-a-propos > p {
    font-size: 15px;
    line-height: 1.4em;
}

@media screen and (max-width: 1449px) {
 	.container {
   		max-width: 1100px;
 	}
 	.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    	font-size: 13px;
	}
	#_prquoi ._cnt_prquoi_bloc ._prquoi_bloc ._bloc ._cnt_bloc_title ._bloc_title {
    	font-size: 16px !important;
	}
	.p-a-propos > p{
		font-size: 13px;
		line-height: 1.2em;
	}

	.p-a-propos h2{
		font-size: 1.75rem;
	}

	._apropos_second iframe{
		height: 450px;
		border-radius: 10px;
	}
	._apropos_video iframe{
		height: 580px;
        border-radius: 10px;
	}
	#_nos_actus ._panel_actus {
        border-radius: 10px !important;
        box-shadow: 1px 2px 6px .2px rgba(0,0,0,.3) !important;
        height: 355px;
    }
     #_nos_actus ._panel_actus .panel-footer p._actu_description {
            color: #a29da9 !important;
            line-height: 16px !important;
            font-size: 13px !important;
        }


}
